[Desktop Entry]
Version=1.0
Name=(CDP) Google Chrome
GenericName=Web Browser
Comment=Chrome with Chrome DevTools Protocol enabled on port 9222
Exec=/home/diego/.local/bin/google-chrome-cdp %U
StartupNotify=true
Terminal=false
Icon=google-chrome
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window
Exec=/home/diego/.local/bin/google-chrome-cdp

[Desktop Action new-private-window]
Name=New Incognito Window
Exec=/home/diego/.local/bin/google-chrome-cdp --incognito
